In [552]:
import tweepy
from keys import *
import csv
import time
import pandas as pd

In [671]:
import requests

client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret)

In [661]:
start_time = '2022-01-01T00:00:00Z'

In [368]:
def busca(query, lista):
    
    f = open('search'+'_'+ query + '.csv', 'a', newline='', encoding='utf-8')
    w = csv.writer(f)
    
    w.writerow(['Tweet_ID', 'Tweet_Text', 'Created_at', 'Tweet_Geo', 'User_Name', 'User_Location'])
    
    try:
        tweets = client.search_all_tweets(query=query, tweet_fields=['created_at','geo'],
                                          user_fields=['created_at', 'location', 'id','name'],
                                          expansions=['author_id','geo.place_id'],
                                          place_fields=['place_type', 'geo'],
                                          start_time = start_time,
                                          max_results=10)
        users = {u["id"]: u for u in tweets.includes['users']}

        for tweet in tweets.data:
            if users[tweet.author_id]:
                user = users[tweet.author_id] 
                
            last_id = tweets.meta['oldest_id']
            
            row = [tweet.id,
                   tweet.text,
                   tweet.created_at,
                   tweet.geo,
                   user.name,user.location]

            w.writerow(row) 
        f.close()
        lista.append(last_id)

    except Exception as e:
        f.close()
        lista.append(last_id)
        print(e)

In [658]:
# Busca Bolsonaro
last_ids_b= []
#query = 'bolsonaro -is:retweet lang:pt'

In [406]:
# Busca Bolsonaro
#id = busca(query,last_ids_b)

In [ ]:
cont=0
limit=800
while cont < limit:
    busca_id(last_ids_b[-1], last_ids_b)
    cont +=1
    time.sleep(4)

In [659]:
len(last_ids_b)

0

In [580]:
def busca_id (id, lista):
    
    f = open('search'+'_'+ query + '.csv', 'a', newline='', encoding='utf-8')
    w = csv.writer(f)
    
    
    try:
        tweets = client.search_all_tweets(query=query, tweet_fields=['created_at','geo'],
                                          user_fields=['created_at', 'location', 'id','name'],
                                          expansions=['author_id','geo.place_id'],
                                          place_fields=['place_type', 'geo'],
                                          until_id = id,
                                          max_results=100)
        users = {u["id"]: u for u in tweets.includes['users']}

        for tweet in tweets.data:
            if users[tweet.author_id]:
                user = users[tweet.author_id] 
                
            last_id = tweets.meta['oldest_id']
            
            row = [tweet.id,
                   tweet.text,
                   tweet.created_at,
                   tweet.geo,
                   user.name,user.location]

            w.writerow(row) 
        f.close()
        lista.append(last_id)

    except Exception as e:
        f.close()
        lista.append(last_id)
        print(e)

In [662]:
#Busca Lula
query = 'lula -is:retweet lang:pt'
busca(query,last_ids_b)

In [ ]:
#Busca Ciro
query = 'ciro -is:retweet lang:pt'
busca(query)

In [162]:
#Busca Simone Tebet
query = 'simone tebet -is:retweet lang:pt'
busca(query)

In [663]:
df= pd.read_csv('search_lula -is:retweet lang:pt.csv')

In [664]:
df.tail()

,Tweet_ID,Tweet_Text,Created_at,Tweet_Geo,User_Name,User_Location
5,1559101337765281793,@allandospanos FOLHA: O senhor certamente sabe...,2022-08-15 08:55:00+00:00,NaN,Lu√≠s Guimar√£es,Rio de Janeiro
6,1559101333902434306,@joemacarolina @xicosa @joaolucioavotf Impedid...,2022-08-15 08:54:59+00:00,NaN,Luis Marcos,"Recife, Brasil"
7,1559101301723635712,@BohnGass @LulaOficial FOLHA: O senhor certame...,2022-08-15 08:54:51+00:00,NaN,Lu√≠s Guimar√£es,Rio de Janeiro
8,1559101240465825793,@Eduprestesm @farias_leonidas Errado.\nOs proc...,2022-08-15 08:54:37+00:00,NaN,GusSouza üá∫üá¶üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø,"Naque, Brasil"
9,1559101239882924034,Lula d√° piti em entrevista e garante que n√£o √©...,2022-08-15 08:54:36+00:00,NaN,MARCOS BORGES,eua

In [665]:
df.shape

(10, 6)

In [666]:
df['Tweet_ID'].is_unique

True